@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);



#msg-box4-9 .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #c1c1c1;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box4-9 .btn {
  font-family: 'Lato', sans-serif;
}
#ext_menu-f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #040f04;
}
#ext_menu-f .mbr-navbar__section {
  background: #040f04;
}
#ext_menu-f .mbr-navbar__hamburger {
  color: #d14841;
}
#ext_menu-f .mbr-brand__name a {
  font-size: 22px;
}
#msg-box5-h .mbr-header__text {
  color: #ffffff;
}
#msg-box5-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-h .mbr-article {
  color: #eb6b56;
}
#msg-box5-h .mbr-article P {
  text-align: center;
}
